/* Função   */
@keyframes btnGradient {
  to {
    background-position-x: 200%;
  }
}
/* Estilo */
body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  place-content: center;
  text-align: center;
  min-height: 80vh;
  background: #0d1017;
  padding: 30px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

button {
  appearance: none;
  background: none;
  padding: 16px 80px;
  font-weight: bold;
  color: inherit;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  border: solid 2px transparent;
  margin: 16px 10px 0 8px;
}

button.border {
  background-image: linear-gradient(#0d1017,#0d1017),
  linear-gradient(to right, #05AFF2, #7135F2, #05AFF2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  animation: btnGradient 1.5s infinite linear;
}

h1 {
  margin-bottom: 16px;
  font-size: 1.8rem;
  font-weight: bold;
}

h2:last-child{
  margin-bottom: 25px;
}

a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

td {
  appearance: none;
  background: none;
  padding: 8px 30px;
  font-weight: bold;
  color: inherit;
  font-size: 18px;
  outline: none;
  border: solid 2px transparent;
  margin: 16px 10px 0px 8px;
  background-image: linear-gradient(#0d1017,#0d1017),
  linear-gradient(to right, #05AFF2, #7135F2, #05AFF2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  animation: btnGradient 1.5s infinite linear;
}

.send { 
  appearance: none;
  background: none;
  padding: 8px 30px;
  font-weight: bold;
  color: inherit;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  border: solid 2px transparent;
  margin: 16px 10px 0 8px;
  background-image: linear-gradient(#0d1017,#0d1017),
  linear-gradient(to right, #05AFF2, #7135F2, #05AFF2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  animation: btnGradient 1.5s infinite linear;
}

.input {
  appearance: none;
  background: none;
  outline: none;
  padding: 8px 20px;
  font-weight: bold;
  color: inherit;
  font-size: 18px;
  border: solid 2px transparent;
  margin: 6px 10px 4px 8px;
  background-image: linear-gradient(#0d1017,#0d1017),
  linear-gradient(to right, #05AFF2, #7135F2, #05AFF2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  animation: btnGradient 1.5s infinite linear;
}

select.input {
  appearance: none;
  background: none;
  outline: none;
  padding: 8px 94px;
  font-weight: bold;
  color: inherit;
  font-size: 18px;
  border: solid 2px transparent;
  margin: 6px 10px 4px 8px;
  background-image: linear-gradient(#0d1017,#0d1017),
  linear-gradient(to right, #05AFF2, #7135F2, #05AFF2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  animation: btnGradient 1.5s infinite linear;
}

.month {
  appearance: none;
  background: none;
  outline: none;
  height: 40px;
  width: 277px;
  font-weight: bold;
  padding-left: 8px;
  text-align: start;
  color: inherit;
  font-size: 18px;
  border: solid 2px transparent;
  margin: 6px 10px 4px 8px;
  background-image: linear-gradient(#0d1017,#0d1017),
  linear-gradient(to right, #05AFF2, #7135F2, #05AFF2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  animation: btnGradient 1.5s infinite linear;
}

.exD {
  appearance: none;
  background: none;
  outline: none;
  padding: 8px 13.5px;
  font-weight: bold;
  color: inherit;
  font-size: 18px;
  border: solid 2px transparent;
  margin: 6px 10px 4px 8px;
  background-image: linear-gradient(#0d1017,#0d1017),
  linear-gradient(to right, #05AFF2, #7135F2, #05AFF2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  animation: btnGradient 1.5s infinite linear;
}
